<?xml version="1.0"?>
<opencv_storage>
<MnistThreshold>180</MnistThreshold>
<RuneSType>1</RuneSType>
<!--<CellRatio>0.67</CellRatio>-->
<CellRatio>0.8</CellRatio>
<CellWidth>127</CellWidth>
<CellHeight>71</CellHeight>
<DigitRatio>0.67</DigitRatio>
<DigitWidth>42</DigitWidth>
<DigitHeight>28</DigitHeight>
<OneHeight>6</OneHeight>
<MinDistance>10.0</MinDistance>
<MaxDistance>800.0</MaxDistance>
<ContourThreshold>130</ContourThreshold>
<VoterSaveTime>5</VoterSaveTime>
<ExposureTime>30</ExposureTime>
<HsvLowerBound>
	0. 0. 150. 0.</HsvLowerBound>
<HsvUpperBound>
  255. 255. 255. 0.</HsvUpperBound>
<CameraMatrix type_id="opencv-matrix">
  <rows>3</rows>
  <cols>3</cols>
  <dt>d</dt>
  <data>
    6.7331032809202316e+02 0. 3.1950000000000000e+02 0.
    6.7331032809202316e+02 2.3950000000000000e+02 0. 0. 1.</data></CameraMatrix>
<DistortionMatrix type_id="opencv-matrix">
  <rows>5</rows>
  <cols>1</cols>
  <dt>d</dt>
  <data>
    -4.5596156984140390e-01 5.8545078662184924e-01 0. 0.
    -1.2481533839510013e+00</data></DistortionMatrix>
<ScaleX> 1.0 </ScaleX>
<ScaleY> 1.0 </ScaleY>
<ScaleZ> 1.0 </ScaleZ>
<GimbalX> 9 </GimbalX>
<GimbalY> 82 </GimbalY>
<GimbalZ> -30 </GimbalZ>
<CameraTheta> 14 </CameraTheta>
<ShootingSpeed> 20 </ShootingSpeed>
</opencv_storage>
