<?xml version="1.0"?>
<opencv_storage>
<MnistThreshold>60</MnistThreshold>
<RuneSType>2</RuneSType>
<!--<CellRatio>0.67</CellRatio>-->
<CellRatio>0.5</CellRatio>
<CellWidth>127</CellWidth>
<CellHeight>71</CellHeight>
<DigitRatio>0.5</DigitRatio>
<DigitWidth>42</DigitWidth>
<DigitHeight>28</DigitHeight>
<OneHeight>6</OneHeight>
<MinDistance>10.0</MinDistance>
<MaxDistance>800.0</MaxDistance>
<ForceRuneType>0</ForceRuneType>
<ContourThreshold>100</ContourThreshold>
<VoterSaveTime>3</VoterSaveTime>
<SRVoterSaveTime>15</SRVoterSaveTime>
<ExposureTime>60</ExposureTime>
<HsvLowerBound>
	0. 0. 139. 0.</HsvLowerBound>
<HsvUpperBound>
  255. 255. 255. 0.</HsvUpperBound>
<ScaleX> 1.0 </ScaleX>
<ScaleY> 1.0 </ScaleY>
<ScaleZ> 1.0 </ScaleZ>
<GimbalX> 18 </GimbalX>
<GimbalY> -43 </GimbalY>
<GimbalZ> -30 </GimbalZ>
<CameraTheta> -14 </CameraTheta>
<ShootingSpeed> 18 </ShootingSpeed>
<KmeansClasses> 3 </KmeansClasses>
<KmeansItrTimes> 5 </KmeansItrTimes>
</opencv_storage>
